.nav {
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu a {
  background-color: var(--white-color);
  border-radius: .5rem;
  border: 1px solid var(--gray-color);
  color: var(--black-color);
  cursor: pointer;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: var(--transition-mode);
}

.menu a:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--white-color);
}