.nav {
  background-color: var(--white-color);
  padding: .2rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu a {
  background-color: var(--secondary-color);
  border-radius: .5rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  color: var(--white-color);
  cursor: pointer;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  text-decoration: none;
}