.home {
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.left, .right {
  align-items: center;
  display: flex;
  justify-content: center;
}

.left { 
  align-items: flex-start;
  flex: .6;
  flex-direction: column;
}

.presentation {
  font-size: 4rem;
  line-height: 4rem;
}

.name {
  color: var(--primary-color);
  font-size: 4rem;
  line-height: 4rem;
}

.job {
  animation: typing 2s steps(21),
  blink .5s infinite step-end alternate;
  border-right: 2px solid;
  display: block;
  font-size: 1.7rem;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 17ch;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.description {
  font-weight: 300;
  margin: .5rem 0;
  width: 95%;
}

.cv {
  background-color: var(--secondary-color);
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 300;
  padding: .5rem 1rem;
  margin: 2rem 0;
}

.redes {
  align-items: center;
  display: flex;
}

.redes img {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 .5rem;
}

.right {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  flex: .4;
  min-height: 85vh;
  position: relative;
  z-index: 0;
}

.profile {
  position: absolute;
  z-index: 2;
}

.svg {
  animation: animate 25s linear infinite;
  display: block;
  top: 40px;
  position: absolute;
  opacity: 0;
  width: 3rem;
  z-index: 1;
}

@keyframes animate {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    transform: translateY(75vh);
    opacity: 0;
  }
}