.home {
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.left, .right {
  align-items: center;
  display: flex;
  justify-content: center;
}

.left { 
  align-items: flex-start;
  flex: .6;
  flex-direction: column;
}

.presentation {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.presentation strong {
  color: var(--primary-color);
  font-size: 3rem;
}

.description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2rem;
  width: 90%;
}

.cv {
  background-color: var(--secondary-color);
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 300;
  padding: .5rem 1rem;
  margin-bottom: 2rem;
  transition: var(--transition-mode);
}

.redes {
  display: flex;
}

.redes h1 {
  margin-right: .5rem;
}

.redes img {
  margin-right: .7rem;
  border-radius: .5rem;
  padding: .1rem;
  transition: var(--transition-mode);
}

.redes img:hover, .cv:hover {
  transform: scale(1.1);
}

.right {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--shadow-color);
  flex: .4;
  min-height: 90vh;
  position: relative;
  z-index: 0;
}

.profile {
  position: absolute;
  z-index: 2;
}

.svg {
  animation: animate 25s linear infinite;
  display: block;
  top: 40px;
  position: absolute;
  opacity: 0;
  width: 3rem;
  z-index: 1;
}

@keyframes animate {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  50%{
      opacity: .5;
  }
  100%{
      transform: translateY(80vh);
      opacity: 0;
  }
}