.nav {
  align-items: center;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-evenly;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.nav li {
  background-color: var(--white-color);
  border-radius: .5rem;
  border: 1px solid var(--gray-color);
  cursor: pointer;
  list-style: none;
  margin: 0 .5rem;
  padding: .5rem 1rem;
  transition: var(--transition-mode);
}

.nav li:hover {
  background-color: var(--secundary-color);
  color: var(--white-color);
}