.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  margin-top: 1rem;
  max-width: 32%;
  position: relative;
  text-align: center;
}

.project .imgProject{
  border-radius: .5rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  cursor: pointer;
  width: 100%;
}

.links {
  display: flex;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
}

.links a {
  background-color: var(--primary-color);
  border-radius: .3rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  display: grid;
  margin: 0 .2rem;
  padding: .2rem;
  place-items: center;
  text-decoration: none;
}

.viewProject {
  background-color: var(--shadow-color);
  display: grid;
  height: 100%;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.viewProject > div {
  background-color: var(--white-color);
  border-radius: .5rem;
  width: 50%;
  padding: .5rem;
  position: relative;
}

.viewProject > div > .links{
  bottom: 0;
  top: unset;
}

.head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.head button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin-bottom: .5rem;
}

.made {
  align-items: center;
  display: flex;
  margin-bottom: .5rem;
}

.made > * {
  margin-right: .5rem;
}

.viewProject .imgProject {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 0 0 .5rem var(--shadow-color);
  margin-bottom: -6px;
  height: auto;
  width: 100%;
}