.projects {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.project {
  border-radius: .5rem;
  border: 2px solid var(--gray-color);
  box-shadow: 0 0 .5rem var(--shadow-color);
  cursor: pointer;
}

.project .imgProject{
  border-radius: .5rem .5rem 0 0;
  width: 100%;
}

.title {
  margin-left: .5rem;
  font-size: 24px;
}

.links {
  display: flex;
  gap: .5rem;
  padding: 0 .5rem;
  margin: .5rem 0;
}

.links a {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 0 5px var(--shadow-color);
  display: flex;
  padding: .3rem .5rem;
  gap: .3rem;
  color: var(--black-color);
  text-decoration: none;
  font-size: 16px;
}

.viewProject {
  background-color: var(--shadow-color);
  display: grid;
  height: 100%;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.viewProject > div {
  background-color: var(--white-color);
  border-radius: .5rem;
  width: 50%;
  position: relative;
}

.head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: .5rem;
}

.head button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
  margin: .5rem;
}

.made {
  align-items: center;
  display: flex;
  margin: .5rem;
}

.made > * {
  margin-right: .5rem;
}

.viewProject .imgProject {
  width: 100%;
  border: 1px solid var(--gray-color);
  box-sizing: border-box;
}