.subTitle, .descripcion {
  margin-top: 1rem;
}

.videos {
  display: flex;
  margin-top: .5rem;
  justify-content: space-between;
}

.video {
  border-radius: .5rem;
  color: black;
  cursor: pointer;
  max-width: 18%;
  margin-left: -.5rem;
  padding: .5rem;
  transition: all ease .4s;
  text-decoration: none;
}

.video > img {
  border-radius: .5rem;
  object-fit: cover;
  width: 100%;
}

.video > p {
  font-size: 14px;
  font-weight: 700;
}

.video:hover {
  scale: 1.05;
  background-color: var(--gray-color);
}