:root {
  --black-color: #111;
  --gray-color: #ddd;
  --primary-color: #F7DF1E;
  --secondary-color: #0D99FF;
  --shadow-color: #00000030;
  --white-color: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

.containerSection {
  padding-top: 3.5rem;
}

.titleSection {
  border-left: .5rem solid var(--primary-color);
  padding-left: .3rem;
}

@media (max-width: 1200px) {
  .app-center {
    margin: 0 1rem;
  }
}