body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

* {
  margin: 0;
  padding: 0;
}

/*
  Light: 300
  Regular: 400
  Medium: 500
  Semibold: 600
  Bold: 700
*/

.container {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: space-around;
}

.name {
  color: #ffc120;
  font-size: 2.3rem;
  font-weight: 700;
}

.title {
  font-weight: 300;
}

.cv {
  background-color: #0D99FF;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #00000055;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: .5rem 1rem;
  margin: .5rem 0;
  transition: all .3s ease-in-out;
}

.redes img {
  margin-right: .7rem;
  border-radius: .5rem;
  padding: .1rem;
  transition: all .3s ease-in-out;
}

.redes img:hover, .cv:hover {
  transform: translateY(-3px) translateX(3px);
}