body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.nav li {
  background-color: #f1f5f9;
  border-radius: .5rem;
  border: 1px solid #DDD;
  list-style: none;
  margin: 0 .5rem;
  padding: .5rem 1rem;
}

.header {
  /* background: linear-gradient(90deg, #FFECD2, #FDB8A1); */
  align-items: center;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  justify-content: space-evenly;
}

.header .name {
  color: #ffc120;
  font-size: 2.3rem;
  font-weight: 800;
}

.header .title {
  font-weight: 300;
}

.header .cv {
  background-color: #0D99FF;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #00000055;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 300;
  padding: .5rem 1rem;
  margin: .5rem 0;
  transition: all .3s ease-in-out;
}

.header .redes img {
  margin-right: .7rem;
  border-radius: .5rem;
  padding: .1rem;
  transition: all .3s ease-in-out;
}

.header .redes img:hover, .header .cv:hover {
  transform: translateY(-3px) translateX(3px);
}

.about-me {
  background: linear-gradient(90deg, #ADCCEF, #E7F0FD);
  border-radius: .5rem;
  box-shadow: 0 0 1rem #00000044;
  margin: .5rem;
  max-width: 1000px;
  padding: .5rem;
  text-align: center;
}

.about-me > p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: .5rem 0;
}